
.gridpane{
     /*-fx-background-color: royalblue;*/
    -fx-background-image:url("../images/image.jpg")  ;
}

#button1:hover {

    -fx-alignment:center;
    -fx-effect: dropshadow(one-pass-box, red, 5, 1.0, 5, 3);
}
