.button {
    -fx-text-fill: blue;
}
#button1{
    -fx-text-fill: green;
}
#button1:hover {
     -fx-background-color: orange;
 }
#Farmacia{
    -fx-effect: dropshadow(one-pass-box, red, 10, 1.0, 2, 3);
}
. image-view {


}
